.therapist-header {
  height: 10rem;
  width: 80%;
  border-right: 8px solid #b2cae2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0.05px rgba(0, 0, 0, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2rem;
}

.therapist-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  height: 3rem;
}

.therapist-title-content {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #35373b;
  font-weight: 400;
  font-size: 1.2rem;
}

.therapist-card {
  position: relative;
  height: max-content;
  width: 85%;
  border-left: 8px solid #b1c9e2;
  border-radius: 10px;
  margin-right: 6rem;
  margin-top: 1rem;
  margin-right: -2rem;
  box-shadow: 0px 0px 10px 0.05px rgba(0, 0, 0, 0.274);
  padding: 1rem;
}

div .therapist-card:hover {
  cursor: pointer;
  -webkit-mask-image: linear-gradient(to bottom, #bae2e9 50%, transparent 200%);
}

.therapist-show {
  background-color: white;
  border-left: 18px solid #b1c9e2;
  position: relative;
  height: 60vh;
  width: 55vw;
  border-radius: 10px;
  margin-left: 6rem;
  margin-top: 1rem;
  margin-right: -2rem;
  box-shadow: 0px 0px 10px 0.05px rgba(0, 0, 0, 0.274);
  padding: 1rem;
}

.therapist-title {
  border-bottom: 5px solid #b1c9e2;
  margin-left: 3rem;
  font-size: x-large;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

.therapist-profile-pic {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
  object-position: 100% 5;
}

.therapist-show-profile-pic {
  width: 10rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.therapist-details-personal {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.therapist-info {
  padding-bottom: 0.5rem;
}

.therapist-details {
  display: flex;
  flex-direction: row;
}

.details {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.row-container:hover {
  -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}

.button {
  align-items: center;
  background: #b2cae2;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #35373b;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 1rem;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
