.dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.dashboard-container::-webkit-scrollbar {
  display: none;
}

.header-dashboard {
  height: max-content;
  width: 85%;
  border-radius: 0.75rem;
  box-shadow: 0px 5px 5px 0.05px rgba(0, 0, 0, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background: linear-gradient(10deg, #6ed697 0.81%, #36a893 98.73%);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
}

.header-affirmation {
  font-size: 2rem;
  font-weight: 400;
  color: #fffde1;
  margin-top: 1rem;
  line-height: 1;
}
.quote-author {
  font-size: 1rem;
  font-family: "Mulish";
  color: #fffde1;
  margin-bottom: 1rem;
}
.journal-count-title {
  font-size: 1rem;
  padding-top: 1rem;
  text-align: center;
  color: #525f76;
}

.journal-count {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #36a893;
  color: #fffde1;
}
.emoji-card-grid {
  display: grid;
  width: 100%;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  background-color: white;
}

.emoji-card {
  position: relative;
  height: max-content;
  width: 85%;
  border-radius: 10px 0 0 10px;
  margin-left: 5rem;
  margin-top: 1rem;
  box-shadow: 0px 5px 10px 0.05px rgba(0, 0, 0, 0.274);
  padding: 1rem;
  background-color: white;
}

.emoji-emotions-title {
  font-size: 1.5rem;
  text-align: center;
  color: #525f76;
}

.emoji-emotions-text {
  text-align: center;
  color: #525f76;
  font-size: 0.9rem;
}

.emoji-image-grid {
  width: 4rem;
  height: 4rem;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}

.emoji-image-grid:hover {
  transform: translateY(-0.5rem);
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  cursor: pointer;
}

.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-image-show {
  width: 7rem;
  height: 7rem;
}

.emoji:hover {
  cursor: pointer;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.459);
}

.emoji-show-header {
  display: flex;
  align-items: center;
  margin-top: -0.5rem;
}

.emoji-show-header-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 0.5rem;
  color: #525f76;
}

.emoji-show-description {
  font-size: 0.75rem;
  padding-right: 0.5rem;
  color: #525f76;
}

.emoji-show-body {
  padding-inline: 1rem;
}

.emoji-show-affirmation {
  margin-top: 1rem;
  color: #2d5588;
}

.exit-show {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: sans-serif;
  font-weight: bold;
}

.exit-show:hover {
  cursor: pointer;
}

.dashboard-spacer {
  width: 100%;
  margin-bottom: 7rem;
}

.resources-title {
  font-size: 1.5rem;
  text-align: center;
  color: #525f76;
  margin-bottom: 1rem;
}

.resources-info-container {
  width: 100%;
  height: 15rem;
  background-color: #cff4d2;
  border-radius: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

/* .resources-info-container::-webkit-scrollbar {
  display: none;
} */

.resources-info-card {
  height: min-content;
  background-color: white;
  align-items: center;
  flex-basis: 100%;
  border-radius: 0.75rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.75rem;
  box-shadow: 0px 5px 10px 0.05px rgba(0, 0, 0, 0.274);
  color: #525f76;
}

@media (min-width: 550px) {
  .resources-info-card {
    flex-basis: auto;
  }
  .dashboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .dashboard-spacer {
    display: none;
  } */
  .header-dashboard {
    border-radius: 10px;
  }

  .header-affirmation {
    font-size: 2rem;
  }
  .emoji-image-grid {
    width: 7rem;
    height: 7rem;
  }
}

@media (max-width: 865px) {
  .resources-info-card {
    flex-basis: 100%;
    align-items: center;
  }
}

@media (min-width: 1110px) {
  .emoji-show-description {
    font-size: 1.1rem;
  }
  .emoji-show-header-content {
    font-size: 1.5rem;
  }
  .emoji-show-affirmation {
    font-size: 1.4rem;
    text-align: center;
  }
  .emoji-image-grid {
    width: 10rem;
    height: 10rem;
  }
}
