.header {
  height: 10rem;
  width: 80%;
  border-right: 5px solid darkblue;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0.05px rgba(0, 0, 0, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2rem;
}

.content {
  padding-left: 7rem;
  padding-right: 1rem;
}

.emoji-card {
  height: 10rem;
  width: 85%;
  border-left: 5px solid darkblue;
  border-radius: 10px;
  margin-left: 6rem;
  margin-top: 1rem;
  margin-right: -2rem;
  box-shadow: 0px 0px 10px 0.05px rgba(0, 0, 0, 0.274);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1rem;
}

.emoji {
  width: min-content;
  height: min-content;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji:hover {
  cursor: pointer;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}
