.header {
  height: 10rem;
  width: 80%;
  border-right: 10px solid #b3cce4;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0.05px rgba(0, 0, 0, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2rem;
  background-color: rgb(255, 255, 255);
}

.content {
  padding-left: 7rem;
  padding-right: 1rem;
}

.emoji-card-grid {
  height: max-content;
  width: 85%;
  border-left: 10px solid #b3cce4;
  border-radius: 10px;
  margin-left: 6rem;
  margin-top: 1rem;
  margin-right: -2rem;
  box-shadow: 0px 5px 10px 0.05px rgba(0, 0, 0, 0.274);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1rem;
  background-color: white;
}

.emoji-card {
  position: relative;
  height: max-content;
  width: 85%;
  border-left: 10px solid #b3cce4;
  border-radius: 10px;
  margin-left: 6rem;
  margin-top: 1rem;
  margin-right: -2rem;
  box-shadow: 0px 5px 10px 0.05px rgba(0, 0, 0, 0.274);
  padding: 1rem;
  background-color: white;
}

.emoji {
  width: min-content;
  height: min-content;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji:hover {
  cursor: pointer;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.emoji-show-header {
  display: flex;
  align-items: center;
  margin-top: -0.5rem;
}

.emoji-show-header-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 0.5rem;
}

.emoji-show-description {
  font-size: 0.75rem;
  padding-right: 0.5rem;
}

.emoji-show-body {
  padding-inline: 1rem;
}

.emoji-show-affirmation {
  margin-top: 1rem;
}

.exit-show {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: sans-serif;
  font-weight: bold;
}

.exit-show:hover {
  cursor: pointer;
}
