
.sound-card {
  position: relative;
    width: 85%;
    height: max-content;
    border-radius: 0.75rem;
    margin-top: 1rem;
    padding: 2rem 1rem;
    background-color: white;
    box-shadow: 0.5rem 0.5rem #fff8bb;
}

.instructions h4 {
  justify-content: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.audio-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  background-color: white;
  color: #525F76;
  padding-left: 7rem;
}

.sound {
  height: 100px;
  padding: 1rem;
}
.audio-list .makeStyles-icon-248,
.makeStyles-icon-236,
.makeStyles-icon-224,
.makeStyles-icon-284,
.makeStyles-icon-272,
.makeStyles-icon-260 {
  color: #b3cce4;
}

.makeStyles-root-218 {
  justify-content: center;
}

.title {
  margin-bottom: 0.5rem;
}

.sounds-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.audio-button{
  display: flex;
  justify-content: center;
  width: 100%;
}

.sound-card span{
  text-align: center;
}