.CalmCorner {
  margin-top: -2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

.scrollable {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable::-webkit-scrollbar {
  display: none;
}