/* .coping-container {
} */

.coping-container .mechanisms-button {
  display: flex;
  justify-content: space-evenly;
}
.coping-container h4 {
  padding-bottom: 2rem;
  text-align: center;
  color: #525F76;
}
