.add-journal-button {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(-45deg, #23d5ab, #fff8bb, #cff4d2);
  background-color: #cff4d2; */
  background: linear-gradient(
    64deg,
    #23d5ab,
    #cff4d2,
    #fff8bb,
    #cff4d2,
    #23d5ab
  );
  background-color: #82e3c1;
  background-size: 800% 800%;
  animation: gradient 12s ease infinite;
  font-size: 5rem;
  border-radius: 50%;
  color: white;
  border: none;
  position: absolute;
  bottom: -4rem;
  box-shadow: 0px 5px 5px 0.05px rgba(0, 0, 0, 0.274);
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

.add-journal-button-header {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    #23d5ab,
    #cff4d2,
    #fff8bb,
    #cff4d2,
    #23d5ab
  );
  background-color: #82e3c1;
  background-size: 800% 800%;
  animation: gradient 12s ease infinite;
  font-size: 5rem;
  border-radius: 50%;
  color: white;
  border: none;
  position: absolute;
  bottom: -3rem;
  box-shadow: 0px 5px 5px 0.05px rgba(0, 0, 0, 0.274);
  border: 3px solid white;
}

@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 81%;
  }
  100% {
    background-position: 0% 20%;
  }
}

.plus {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  position: relative;
}

.plus::before {
  content: "";
  width: 0.5rem;
  height: 2rem;
  background-color: white;
  position: absolute;
  top: 5rem;
  left: 1.75rem;
  pointer-events: none;
  border-radius: 0.5rem;
  z-index: 1;
}

.plus::after {
  content: "";
  width: 0.5rem;
  height: 2rem;
  background-color: white;
  position: absolute;
  top: 5rem;
  left: 1.75rem;
  transform: rotate(90deg);
  pointer-events: none;
  border-radius: 0.5rem;
}

.plus-header {
  z-index: 1;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  position: relative;
}

.plus-header::before {
  content: "";
  width: 0.5rem;
  height: 2rem;
  background-color: white;
  position: absolute;
  top: 4rem;
  left: 1.75rem;
  pointer-events: none;
  border-radius: 0.5rem;
  z-index: 1;
}

.plus-header::after {
  content: "";
  width: 0.5rem;
  height: 2rem;
  background-color: white;
  position: absolute;
  top: 4rem;
  left: 1.75rem;
  transform: rotate(90deg);
  pointer-events: none;
  border-radius: 0.5rem;
}

.add-journal-button:hover {
  cursor: pointer;
}

.journal-title-card {
  text-align: center;
  color: #525f76;
  padding-top: 1rem;
  margin-bottom: -2rem;
}

.back-arrow {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: 2rem;
  bottom: 1rem;
}
.back-arrow:hover {
  cursor: pointer;
}

.back-arrow-dashboard {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: 2rem;
  top: 1rem;
}
.back-arrow-dashboard:hover {
  cursor: pointer;
}

.scale-title {
  text-align: center;
  color: #525f76;
}

.scale-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
input.radio {
  width: 75%;
  height: 75%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  z-index: -1;
}

input.radio:last-child {
  padding-right: 1rem;
}

.scale-face {
  width: 75%;
  max-width: 8rem;
  height: 75%;
  margin: 0.5rem;
}

.scale-face:hover {
  background-color: #cff4d2;
}

svg {
  display: none;
}

.sad {
  border-radius: 50%;
  background-color: #fff8bb73;
}

.lil-sad {
  border-radius: 50%;
  background-color: #fff8bb73;
}

.neutral {
  border-radius: 50%;
  background-color: #fff8bb73;
}

.lil-happy {
  border-radius: 50%;
  background-color: #fff8bb73;
}

.happy {
  border-radius: 50%;
  background-color: #fff8bb73;
}

.label-sad {
  background-color: #cff4d2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-lil-sad {
  background-color: #cff4d2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.label-neutral {
  background-color: #cff4d2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.label-lil-happy {
  background-color: #cff4d2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.label-happy {
  border-radius: 50%;
  background-color: #cff4d2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scale-face:hover {
  cursor: pointer;
}

.choice-title {
  text-align: center;
  color: #525f76;
}

.choice-grid {
  height: 75%;
  max-width: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
  gap: 1rem;
  margin-inline: auto;
}

.choice-item {
  flex-basis: 30%;
  width: 100%;
  height: 3rem;
  display: flex;
  background-color: #cff4d2;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  margin: 1rem auto;
  max-width: 12rem;
}

.choice-item:hover {
  background: linear-gradient(0.77deg, #6ed697 0.81%, #36a893 98.73%);
  cursor: pointer;
}

.choice-item-selected {
  background: linear-gradient(0.77deg, #6ed697 0.81%, #36a893 98.73%);
}

.choice-image {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.25rem;
}

.choice-name {
  color: #525f76;
  font-weight: bold;
  text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.178);
}

.journal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2rem;
}

.journal-text-title {
  font-size: 1.5rem;
  display: block;
  margin: 0.5rem auto;
  width: 100%;
  border: none;
  border-bottom: 3px solid #36a893;
  font-family: "Roboto";
  color: #525f76;
}

.journal-text-title:focus {
  outline: none;
}

.journal-text {
  width: 100%;
  min-height: 8rem;
  height: max-content;
  border: 3px solid #36a893;
  overflow: hidden;
  resize: none;
  font-family: "Mulish";
  color: #525f76;
}

.journal-text:focus {
  outline: none;
}

.final-view-title {
  text-align: center;
  font-size: 2rem;
  margin-right: 1rem;
  color: #525f76;
}

.final-view-text {
  text-align: center;
  margin-right: 1rem;
  color: #525f76;
}

.close-button {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(325deg, #6ed697 0.81%, #36a893 98.73%);
  position: absolute;
  right: 1rem;
  border-radius: 50%;
}

.close-button:hover {
  background-color: #e0ecf8;
  cursor: pointer;
}

.close-button::before {
  content: "";
  width: 1.15rem;
  height: 0.25rem;
  background-color: white;
  position: absolute;
  top: 0.9rem;
  left: 0.45rem;
  transform: rotate(45deg);
  pointer-events: none;
  border-radius: 5px;
}

.close-button::after {
  content: "";
  width: 1.15rem;
  height: 0.25rem;
  background-color: white;
  position: absolute;
  top: 0.9rem;
  left: 0.45rem;
  transform: rotate(135deg);
  pointer-events: none;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .choice-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
