.home-container {
  max-width: 75rem;
  display: block;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  max-width: 75rem;
  height: 5rem;
  background-color: #b3cce4;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  top: 0;
  box-shadow: 0px 2px 25px 0.05px rgba(0, 0, 0, 0.116);
  z-index: 999999;
}

.app-name {
  margin: 3rem;
  color: white;
}

.buttons-container {
  margin: 3rem;
}

.hero {
  margin-top: 5rem;
  display: flex;
  height: 50rem;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.hero-title {
  font-size: 5rem;
  line-height: 0.75;
  color: #1070bb;
  margin-left: 3rem;
}

.hero-description {
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #2d5588;
}

.hero-button-container {
  margin-left: 3rem;
  margin-top: 1rem;
  width: 100%;
  display: inline;
}

.get-started-button {
  width: 8rem;
}

.learn-more-button {
  width: 8rem;
}

.hero-left-column {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-right-column {
  height: 100%;
  width: 60%;
  position: absolute;
  transform: skewX(-10deg);
  top: 0;
  right: -5rem;
  overflow: hidden;
  box-shadow: -1px 0 2rem 0.5px rgba(0, 0, 0, 0.103);
}

.happy-teen {
  width: 100%;
  height: 100%;
  background-image: url("./assets/happy-teen.jpg");
  transform: skewX(10deg);
  background-size: cover;
  margin-left: -5rem;
  background-position-x: 35%;
}

.happy-teen::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(3, 3, 14, 0.158);
  position: absolute;
}

.app-info-section {
  background-color: white;
  padding: 3rem;
  font-size: 3rem;
  text-align: center;
  color: #2d5588;
  height: 90vh;
  background-image: url("./assets/boy-in-classroom.png");
  background-repeat: no-repeat;
  background-position-y: 10rem;
  background-position-x: 0;
  position: relative;
}
.app-info-section-middle {
  background-color: white;
  padding: 3rem;
  font-size: 3rem;
  text-align: center;
  color: #2d5588;
  height: 90vh;
  background-image: url("./assets/girl-holding-books.png");
  background-repeat: no-repeat;
  background-position-y: 10rem;
  background-position-x: 100%;
  position: relative;
}

.app-info-title {
  font-size: 4rem;
  color: #1070bb;
}

.mockup-container {
  display: flex;
  justify-content: center;
}

.iphone-mockup {
  width: 20rem;
  height: 40rem;
  background-image: url("./assets/iphone-mockup.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.spacer {
  width: 100%;
  height: 6rem;
}
.info-bubbles-container {
  height: 40rem;
  width: 100%;
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.info-bubble-right {
  background-color: white;
  width: 15rem;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  position: absolute;
  right: -10rem;
  box-shadow: 0 1rem 2rem 0.25rem rgba(37, 37, 37, 0.287);
  opacity: 100%;
  transition: opacity 1s ease-in-out;
}

.info-bubble-right::after {
  content: "";
  height: 0rem;
  width: 0rem;
  position: absolute;
  left: -0.25rem;
  bottom: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid white;
}

.info-bubble-left {
  background-color: white;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  position: absolute;
  left: -10rem;
  top: 18rem;
  box-shadow: 0 1rem 2rem 0.25rem rgba(42, 42, 42, 0.287);
}
.info-bubble-left::after {
  content: "";
  height: 0rem;
  width: 0rem;
  position: absolute;
  right: -0.25rem;
  bottom: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid white;
}

.info-bubble-left-middle {
  background-color: white;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  position: absolute;
  left: -18rem;
  top: 25rem;
  box-shadow: 0 1rem 2rem 0.25rem rgba(42, 42, 42, 0.287);
}
.info-bubble-left-middle::after {
  content: "";
  height: 0rem;
  width: 0rem;
  position: absolute;
  right: -0.25rem;
  bottom: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid white;
}

.bubble-animation {
  opacity: 100%;
}

.bubble-button-top {
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-color: red;
  bottom: 0;
  left: 0;
  border-radius: 100%;
}

@media (max-width: 750px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .hero-left-column {
    background-image: url("./assets/happy-teen.jpg");
    background-position: 35%;
    width: 100%;
  }
  .hero-left-column::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(2, 1, 8, 0.301);
  }
  .hero-right-column {
    display: none;
  }
}

/* AUTH FORM STYLING */

.form-container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: -1px 0 2rem 0.5px rgba(0, 0, 0, 0.103);
}

.login-input {
  margin-bottom: 1rem;
  line-height: 2;
  border: none;
  border-bottom: 1px solid gray;
  font-family: "Roboto";
  font-size: 1.5rem;
}

.login-input:focus {
  outline: none;
}
