.home-container {
  max-width: 100rem;
  display: block;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  max-width: 100rem;
  height: 5rem;
  background: linear-gradient(0.77deg, #6ed697 0.81%, #36a893 98.73%);
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  top: 0;
  box-shadow: 0px 2px 25px 0.05px rgba(0, 0, 0, 0.116);
  z-index: 999999;
}

.app-name {
  margin: 3rem;
  color: #fffde1;
}

.buttons-container {
  margin: 3rem;
}

.hero {
  margin-top: 5rem;
  display: flex;
  height: 95vh;
  overflow: hidden;
  position: relative;
  background-color: #cff4d2;
}

.hero-title {
  font-size: 5rem;
  line-height: 0.75;
  color: #525f76;
  margin-left: 3rem;
}

.hero-description {
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #525f76;
}

.hero-button-container {
  margin-left: 3rem;
  margin-top: 1rem;
  width: 100%;
  display: inline;
}

.get-started-button {
  width: 8rem;
}

.learn-more-button {
  width: 8rem;
}

.hero-left-column {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-right-column {
  height: 100%;
  width: 60%;
  position: absolute;
  transform: skewX(-10deg);
  top: 0;
  right: -7rem;
  overflow: hidden;
  box-shadow: -1px 0 2rem 0.5px rgba(0, 0, 0, 0.103);
}

.happy-teen {
  width: 100%;
  height: 100%;
  background-image: url("./assets/happy-teen.jpg");
  transform: skewX(10deg);
  background-size: cover;
  margin-left: -6.5rem;
  background-position-x: 35%;
}

.happy-teen::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(3, 3, 14, 0.158);
  position: absolute;
}

.app-info-section {
  background-color: #fff8bb;
  padding: 3rem;
  font-size: 3rem;
  text-align: center;
  color: #525f76;
  height: 90vh;
  max-height: 55rem;
  background-image: url("./assets/boy-in-classroom.png");
  background-repeat: no-repeat;
  background-position-y: 3rem;
  background-position-x: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-info-section-middle {
  background-color: #cff4d2;
  padding: 3rem;
  font-size: 3rem;
  text-align: center;
  color: #525f76;
  max-height: 55rem;
  height: 90vh;
  background-image: url("./assets/girl-holding-books.png");
  background-repeat: no-repeat;
  background-position-y: 10rem;
  background-position-x: 100%;
  position: relative;
}

.app-info-section-bottom {
  background-color: #fff8bb;
  padding: 3rem;
  font-size: 3rem;
  text-align: center;
  color: #525f76;
  height: 90vh;
  max-height: 55rem;
  position: relative;
}

.app-info-title {
  font-size: 4rem;
  color: #525f76;
}

.mockup-container {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.iphone-mockup {
  width: 50%;
  height: 80%;
  background-image: url("./assets/iphone-mockup.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

.iphone-mockup-top {
  height: 80%;
  background-image: url("./assets/mockup-home.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
}
.spacer {
  width: 100%;
  height: 6rem;
}
.info-bubbles-container {
  height: 40rem;
  width: 40rem;
}

.info-bubble-right {
  background-color: white;
  width: 15rem;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  position: absolute;
  right: 0rem;
  box-shadow: 0 1rem 2rem 0.25rem rgba(37, 37, 37, 0.287);
  opacity: 100%;
  transition: opacity 1s ease-in-out;
}

.info-bubble-right::after {
  content: "";
  height: 0rem;
  width: 0rem;
  position: absolute;
  left: -0.25rem;
  bottom: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid white;
}

.info-bubble-left {
  background-color: white;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  position: absolute;
  left: -9rem;
  bottom: 2rem;
  box-shadow: 0 1rem 2rem 0.25rem rgba(42, 42, 42, 0.287);
}
.info-bubble-left::after {
  content: "";
  height: 0rem;
  width: 0rem;
  position: absolute;
  right: -0.25rem;
  bottom: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid white;
}

.info-bubble-left-middle {
  background-color: white;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  position: absolute;
  left: -5rem;
  bottom: 10rem;
  box-shadow: 0 1rem 2rem 0.25rem rgba(42, 42, 42, 0.287);
}
.info-bubble-left-middle::after {
  content: "";
  height: 0rem;
  width: 0rem;
  position: absolute;
  right: -0.25rem;
  bottom: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid white;
}
.info-bubble-left-middle2 {
  background-color: white;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  position: absolute;
  left: 0rem;
  top: 15rem;
  box-shadow: 0 1rem 2rem 0.25rem rgba(42, 42, 42, 0.287);
}
.info-bubble-left-middle2::after {
  content: "";
  height: 0rem;
  width: 0rem;
  position: absolute;
  right: -0.25rem;
  bottom: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid white;
}

.info-bubble-left-bottom {
  background-color: white;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  position: absolute;
  left: 0rem;
  bottom: 10rem;
  box-shadow: 0 1rem 2rem 0.25rem rgba(42, 42, 42, 0.287);
}
.info-bubble-left-bottom::after {
  content: "";
  height: 0rem;
  width: 0rem;
  position: absolute;
  right: -0.25rem;
  bottom: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid white;
}
.info-bubble-left-bottom2 {
  background-color: white;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  position: absolute;
  left: 0rem;
  top: 15rem;
  box-shadow: 0 1rem 2rem 0.25rem rgba(42, 42, 42, 0.287);
}
.info-bubble-left-bottom2::after {
  content: "";
  height: 0rem;
  width: 0rem;
  position: absolute;
  right: -0.25rem;
  bottom: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid white;
}

.footer-container {
  height: 30rem;
  width: 100%;
  background-image: url("./assets/footer-backpack.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #b3cce454;
  position: absolute;
  top: 0;
}

.footer-title {
  font-size: 3rem;
  color: #525f76;
  text-align: center;
  z-index: 2;
}

.footer-details {
  z-index: 2;
  height: max-content;
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.377);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 1rem;
  position: relative;
}

.footer-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  background: inherit;
}

.footer-text {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  z-index: 2;
}

@media (max-width: 750px) {
  .hero {
    flex-direction: column;
    align-items: center;
    height: 50rem;
  }
  .hero-left-column {
    background-image: url("./assets/happy-teen.jpg");
    background-position: 35%;
    width: 100%;
  }
  .hero-left-column::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #12271442;
  }
  .hero-right-column {
    display: none;
  }
}

/* to handle background images in sections */
@media (max-width: 1000px) {
  .app-info-section,
  .app-info-section-middle {
    background-image: none;
  }
}

/* Get right of bubbles */
@media (max-width: 900px) {
  .info-bubbles-container,
  .info-bubble-left,
  .info-bubble-left-bottom,
  .info-bubble-left-bottom2,
  .info-bubble-left-middle,
  .info-bubble-left-middle2,
  .info-bubble-right {
    display: none;
  }
  .mockup-container,
  .iphone-mockup-top {
    width: 100%;
  }

  .iphone-mockup {
    background-position: left;
  }

  .iphone-mockup-top {
    background-position: left;
  }

  .app-info-title {
    font-size: 2.5rem;
  }
}

/* AUTH FORM STYLING */

.form-container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: -1px 0 2rem 0.5px rgba(0, 0, 0, 0.103);
}

.login-input {
  margin-bottom: 1rem;
  line-height: 2;
  border: none;
  border-bottom: 1px solid gray;
  font-family: "Roboto";
  font-size: 1.5rem;
}

.login-input:focus {
  outline: none;
}
