.sidebar-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1.5rem;
  width: min-content;
  position: fixed;
  left: 0;
  top: 3rem;
}

.sidebar-icons {
  list-style-type: none;
  width: min-content;
}

li {
  margin-left: 0;
  margin-bottom: 1rem;
  /* border: 1px inset rgba(71, 71, 71, 0.733); */
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0.05px rgba(0, 0, 0, 0.274);
  background-color: white;
}

li:hover {
  cursor: pointer;
  background-color: #b3cce4;
}

img {
  width: 2rem;
  height: 2rem;
}

.sidebar-icon-1 {
  animation-name: slidein;
  animation-timing-function: ease-in-out;
  animation-duration: 0.65s;
}

.sidebar-icon-2 {
  animation-name: slidein;
  animation-timing-function: ease-in-out;
  animation-duration: 0.8s;
}

.sidebar-icon-3 {
  animation-name: slidein;
  animation-timing-function: ease-in-out;
  animation-duration: 0.9s;
}

.sidebar-icon-4 {
  animation-name: slidein;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes slidein {
  from {
    margin-left: -5rem;
    transform: rotate(0);
    opacity: 0;
  }

  to {
    margin-left: 0;
    transform: rotate(360deg);
    opacity: 100%;
  }
}
