.sidebar-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1.5rem;
}

.sidebar-icons {
  list-style-type: none;
}

li {
  margin-left: 0;
  margin-bottom: 1rem;
  /* border: 1px inset rgba(71, 71, 71, 0.733); */
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0.05px rgba(0, 0, 0, 0.274);
}

li:hover {
  cursor: pointer;
  background-color: rgb(190, 190, 190);
}

img {
  width: 2rem;
  height: 2rem;
}
