.sidebar-container {
  height: 100vh;
  width: 25%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  top: 0rem;
  z-index: 999999;
  background-color: #2d5588;
  box-shadow: 0px 0px 10px 0.05px rgba(0, 0, 0, 0.274);
  position: relative;
}

.sidebar-app-name {
  position: absolute;
  top: 0;
  left: 20%;
}

.sidebar-icons {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30%;
  padding: 0;
}

.sidebar-icon-name {
  height: 3rem;
  width: 90%;
  max-width: 14rem;
  background-color: white;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.sidebar-icon-name:hover {
  cursor: pointer;
  background-color: #b3cce4;
}

.home-selected,
.journal-selected,
.calm-selected,
.therapist-selected {
  background-color: #b3cce4;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
.sidebar-icon-label {
  margin-left: 3.5rem;
  font-size: 1.25rem;
  font-weight: lighter;
  color: rgb(7, 4, 34);
  animation: fadeIn 2s ease-in-out;
}

.sidebar-item {
  margin-right: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0.05px rgba(0, 0, 0, 0.274);
  background-color: white;
  position: absolute;
}

.sidebar-item:hover {
  cursor: pointer;
  background-color: #b3cce4;
}

img.icon-image {
  width: 2rem;
  height: 2rem;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  position: absolute;
}

.sidebar-icon-1 {
  animation-name: slidein;
  animation-timing-function: ease-in-out;
  animation-duration: 0.65s;
}

.sidebar-icon-2 {
  animation-name: slidein;
  animation-timing-function: ease-in-out;
  animation-duration: 0.8s;
}

.sidebar-icon-3 {
  animation-name: slidein;
  animation-timing-function: ease-in-out;
  animation-duration: 0.9s;
}

.sidebar-icon-4 {
  animation-name: slidein;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes slidein {
  from {
    margin-left: -5rem;
    transform: rotate(0);
    opacity: 0;
  }

  to {
    margin-left: 0;
    transform: rotate(360deg);
    opacity: 100%;
  }
}

@media (max-width: 1110px) {
  .sidebar-icon-label {
    font-size: 0.78rem;
  }
}

@media (max-width: 830px) {
  .sidebar-icon-label {
    display: none;
  }
  .sidebar-icon-name {
    background: transparent;
  }
  .sidebar-icons {
    margin-left: 25%;
  }
  .sidebar-icon-name:hover {
    background-color: transparent;
  }
  .home-icon-selected,
  .journal-icon-selected,
  .calm-icon-selected,
  .therapist-icon-selected {
    background-color: #b3cce4;
  }
}

@media (max-width: 550px) {
  @keyframes slidein {
    from {
      top: 100vh;
      opacity: 0;
    }

    to {
      top: 93vh;
      opacity: 100%;
    }
  }
  .sidebar-spacer {
    height: 7vh;
    width: 100%;
    background-color: red;
  }
  div.sidebar-container {
    height: 7vh;
    width: 100%;
    max-width: none;
    position: absolute;
    top: 93vh;
    background-color: white;
    padding: 0;
    margin: 0;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0rem -0.5rem 3rem 0 rgba(0, 0, 0, 0.281);
    animation-name: slidein;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  }

  .sidebar-app-name {
    display: none;
  }

  ul.sidebar-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }
  li.sidebar-item {
    background-color: transparent;
    box-shadow: none;
    margin: 1rem;
  }
  li.sidebar-item:hover {
    background-color: transparent;
  }
  .icon-image:hover {
    width: 2.5rem;
    height: 2.5rem;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
  }

  li.sidebar-icon-1,
  li.sidebar-icon-2,
  li.sidebar-icon-3,
  li.sidebar-icon-4 {
    animation-name: none;
  }
  .sidebar-icon-label {
    display: none;
  }

  .sidebar-icon-name {
    justify-content: center;
  }
}
