.journal-header {
  position: relative;
  height: max-content;
  width: 85%;
  border-right: 10px solid #b3cce4;
  border-radius: 10px;
  margin-left: -2rem;
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  margin-right: 6rem;
  box-shadow: 0px 5px 10px 0.05px rgba(0, 0, 0, 0.274);
  padding: 1rem;
  background-color: white;
}

.content {
  padding-left: 1rem;
}

.title-content {
  padding-bottom: 5px;
  color: #1070bb;
}

.card {
  position: relative;
  height: max-content;
  width: 85%;
  border-left: 8px solid #b1c9e2;
  border-radius: 10px;
  margin-left: 6rem;
  margin-top: 1rem;
  margin-right: -2rem;
  box-shadow: 0px 0px 10px 0.05px rgba(0, 0, 0, 0.274);
  padding: 1rem;
  background-color: white;
}

div .card:hover {
  cursor: pointer;
  -webkit-mask-image: linear-gradient(to bottom, #bae2e9 50%, transparent 200%);
}

.journal-show {
  background-color: white;
  border-left: 18px solid #b1c9e2;
  position: relative;
  height: 60vh;
  width: 85%;
  border-radius: 10px;
  margin-left: 6rem;
  margin-top: 1rem;
  margin-right: -2rem;
  box-shadow: 0px 0px 10px 0.05px rgba(0, 0, 0, 0.274);
  padding: 1rem;
}

.journal-title {
  border-bottom: 5px solid #b1c9e2;
  margin-left: 3rem;
  font-size: x-large;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

.journal-entry {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1rem;
  height: 16rem;
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 120%);
  margin-bottom: 0.5rem;
}
/* hide the scroll bar in journal view */
.journal-entry::-webkit-scrollbar {
  display: none;
}

/* scroll the list */
.journal-holder {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.journal-holder::-webkit-scrollbar {
  display: none;
}

.row-container {
  -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  height: 100px;
  margin-bottom: 0.5rem;
}
