.journal-header {
  position: relative;
  height: max-content;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0.5rem 0.5rem #fff8bb;
  background-color: white;
  padding: 1rem;
}

.journal-content {
  padding-right: 1rem;
  padding-left: 0.5rem;
  height: 8rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background: #cff4d2;
  /* background: linear-gradient(332deg, #6ed697 0.81%, #cff4d2 98.73%); */
}
.journal-content-entry {
  color: #64748b;
  margin-right: auto;
  margin-left: auto;
  padding: 0.75rem;
  height: 90%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.modal-journal-holder {
  position: absolute;
  top: 0px;
}
.journal-title-content {
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #64748b;
}

.journal-plus {
  position: relative;
  aspect-ratio: 1;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  top: -3rem;
}

.journal-choice {
  position: absolute;
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: white;
  border: 5px solid white;
  background-color: #6ed697;
}

.journal-card-footer {
  color: #64748b;
  padding-top: 1rem;
  font-size: 0.75rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.journal-arrow {
  /* margin-top: -3rem; */
  font-weight: bolder;
  font-size: 1rem;
}
.card {
  background-color: white;
  height: max-content;
  width: 85%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem #fff8bb;
}

div .card:hover {
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem #36a893;
}

#journal-show {
  position: relative;
  background: linear-gradient(10deg, #6ed697 0.81%, #36a893 98.73%);
  position: relative;
  height: 75vh;
  width: 75%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0.05px rgb(0 0 0 / 27%);
  padding: 1rem;
}

.journal-title {
  color: #fffde1;
  margin-left: 3rem;
  font-size: 2rem;
  margin-top: 2rem;
  margin-right: 1rem;
  border-bottom: 4px solid #fffde1;
}

.journal-entry {
  color: #fffde1;
  margin-left: 2rem;
  margin-right: 1rem;
  padding: 1rem;
  height: 70%;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 120%);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* hide the scroll bar in journal view */
.journal-entry::-webkit-scrollbar {
  display: none;
}

.journal-entry p {
  font-size: 1.2rem;
}
.journal-show-date {
  color: #fffde1;
}

.css-1wnsr1i {
  border: none !important;
}

/* scroll the list */
.journal-holder {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 5rem;
}
.journal-holder::-webkit-scrollbar {
  display: none;
}

.main-journal-container {
  height: 100%;
}

@media (min-width: 550px) {
  .journal-holder {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-journal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .card {
    width: 85%;
  }

  .journal-title {
    font-size: 2.3rem;
  }

  .journal-entry p {
    font-size: 1.5rem;
  }

  #journal-show {
    width: 60%;
    margin-inline: 12.5%;
  }
}

@media (min-width: 1280px) {
  .card {
    width: 45%;
  }
}
