.app-container {
  width: 100vw;
  overflow: hidden;
  background-color: #cff4d2;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
