
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
}
.button.play {
  background: none;
  width: 1px;
  height: 1px;
  border: solid 0px #fff;
  border-radius: 50%;
  position: relative;
  text-indent: -9999px;
  box-shadow: 1px 1px 3px #999999;
}
.button.pause {
  background: none;
  width: 1px;
  height: 1px;
  border: solid 0px #fff;
  border-radius: 50%;
  position: relative;
  text-indent: -9999px;
  box-shadow: 1px 1px 3px #999999;
}
