.instructions{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.instructions span {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.instructions p {
  font-weight: 200;
  font-family: 'Mulish', sans-serif;
  font-size: smaller;
}
.breathe-container {
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -28%;
}

.breathe {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation-name: breathe-animation !important;
  animation: breathe-animation 8s ease infinite none running;
  transition-delay: 4s;
  
}
@keyframes breathe-animation {
  0% {
    background-color: lightgray;
    width: 100px;
    height: 100px;
  }
  25% {
    background-color: lightblue;
    width: 50px;
    height: 50px;
  }
  50% {
    background-color: lightgray;
    width: 100px;
    height: 100px;
  }
  50% {
    background-color: lightblue;
    width: 50px;
    height: 50px;
  }
  100% {
    background-color: lightgray;
    width: 100px;
    height: 100px;
  }
  100% {
    background-color: lightgray;
    width: 100px;
    height: 100px;
  }
}
/*
p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
 */
