.CalmCorner {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
}
