.carousel {
  width: 70vw;
  height: 50vh;
  background-color: lightblue;
  border-radius: 2rem;

}

.carouselInner {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  border-radius: 2rem;

}

.carouselInner .left {
  flex: 5%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}

.carouselInner .center {
  flex: 90%;
  height: 100%;
  display: grid;
  place-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  text-align-last: center;
}

h1 {
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 9px;
}

.carouselInner .right {
  flex: 5%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}
